.message{
    width: 100%;
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
}
.messageHeader{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.messagei{
    width: 19%;
    height: 70px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.messagei div{
    float: left;
}
.messagei div i{
    color:white;
    font-size: 44px;
}
.messagei div:first-of-type{
    width: 78px;
    height: 70px;
    background: #ff6c60;
    text-align: center;
    line-height: 70px;
}
.messagei div:last-of-type{
    padding-top: 14px;
    padding-left: 26px;
}
.messagei p{
    font-size: 18px;
    padding-bottom: 5px;
}
.messagei span{
    font-size: 14px;
    color: #ff3333;
}
#container{
    width: 1100px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    padding: 0 102px;
}