body {
    background-color: #1c77ac;
    background-image: url(../images/common/light.png);
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    color: #393939;
    font-size: 14px;
}
/*登录头部*/
.logintop {
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/common/loginbg1.png) repeat-x;
    z-index: 100;
    width: 100%;
}
.logintop span {
    line-height: 47px;
    text-indent: 44px;
    color: #afc5d2;
    float: left;
}
.logintop ul {
    float: right;
    padding-right: 30px;
}
.logintop ul li {
    float: left;
    margin-left: 20px;
    line-height: 47px;
}
.logintop ul li a {
    color: #afc5d2;
}
.logintop ul li a:hover {
    color: #fff;
    text-decoration: underline;
}
/*登录内容*/
.loginbody {
    background: url(../images/common/loginbg3.png) no-repeat center center;
    width: 100%;
    height: 585px;
    overflow: hidden;
    position: absolute;
    top: 47px;
}
.login-container {
    width: 500px;
    margin: 0 auto;
}
.login-container .center {
    margin-top: 80px;
    text-align: center;
}
.space-6 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 6px 0 5px;
}
.login-form ul {
    width: 298px;
    height: 150px;
    float: right;
}
.login-form ul li {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.visible {
    border-right: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 0;
    box-shadow: none;
    padding: 6px;
    background-color: #1C77AC;
}
.widget-body {
    background-color: #FFF;
}
.widget-main {
    padding: 16px 20px 20px;
    background: #f7f7f7;
    position: relative;
}
.bigger {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
    color: #478fca
}
.login-icon {
    float: left;
    width: 150px;
}
.frame_style label {
    background: url(../images/common/icon_login.png) no-repeat;
    float: left;
    width: 40px;
    height: 38px;
    border-right: 1px solid #ddd;
    vertical-align: middle;
}
.frame_style .user_icon {
    background-position: -5px -30px;
}
.frame_stylek .password_icon {
    background-position: -5px 0;
}
.frame_style .Codes_icon {
    background-position: -5px -60px;
}
.frame_style input {
    height: 30px;
    padding: 5px 10px;
    border: 0;
    color: #858585;
    width: 235px;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}
/*记住密码登录*/
.clearfix {
    width: 298px;
    float: right;
    margin-top: 25px;
}
.clearfix label {
    float: left;
}
.clearfix .login-btn {
    width: 105px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    float: right;
    border: none;
    outline: none;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    background-color: #428bca;
}
.clearfix .ace {
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
}
/*二维码验证*/
#code_input  {
    width: 150px;
    border-right: 1px solid #ddd;
}
#v_container {
    width: 86px;
    height: 40px;
    float: right;
    text-align: center;
}
/*通知*/
.widget-main .tell {
    width: 100%;
    height: 1px;
    padding: 30px 0;
    clear: both;
    position: relative;
}
.widget-main .tell:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px dotted #a6c4db;
}
.widget-main .tell span {
    text-align: center;
    position: absolute;
    display: block;
    width: 50px;
    left: 45%;
    height: 30px;
    top: 20px;
    color: #428bca;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
.tell-center {
    text-align: center;
}
/*登录底部*/
.loginbm {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: url(../images/common/loginbg2.png) repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #0b3a58;
}
.loginbm a {
    font-weight: bold;
    color: #0b3a58;
}

.m-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, .6);
}

.onload_circle {
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 1px solid orange;
    border-radius: 50%;
    transform-origin: center center;
    animation: rotate  1s infinite linear;
    transition: all 3s;
}
.ball {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color:#333;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    top: 23px;
}
@keyframes rotate  {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*添加*/
/*删除*/
.m-modal-dialog,.m-modal-add,.m-modal-update {
    position: fixed;
    width: 260px;
    left: 50%;
    top: 50%;
    height: 150px;
    margin-left: -100px!important;
    margin-top: 70px!important;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 3px 9px #ccc;
    overflow: hidden;
}
.m-top {
    background-color: #eee;
}
.m-modal-title {
    margin: 0;
    color: #333;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.m-modal-close {
    position: absolute;
    right: 3px;
    top: 3px;
    display: inline-block;
    font-size: 30px;
    color: #707070;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.m-modal-close:hover {
    color: #555;
}
.m-middle {
    padding: 10px 20px 10px 20px;
    color: #707070;
}
.m-bottom {
    padding: 0 6px 6px;
    overflow: hidden;
    margin-left: 47px;
}
.m-bottom button {
    font-family: "microsoft yahei", "宋体";
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px 15px;
    margin: 0 0 0 10px;
    outline: none;
    font-size: 14px;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.m-bottom button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.m-bottom button:active {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.m-bottom .m-btn-sure {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.m-bottom .m-btn-sure:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.m-bottom .m-btn-sure:active {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
/*登录提示框*/
.login-title {
    display: none;
    width: 100px;
    padding: 5px;
    height: 40px;
    margin: 0!important;
    border: 1px solid #ccc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #428bca;
    position: absolute;
    bottom: 82px;
    right: 128px;
    text-align: left;
    /*float: left;*/
    font-size: 14px;
    color: #fff;
    z-index: 2;
}